@import "tailwindcss";

@source "../../../**/*.{html,py,js}";

@theme {
    --color-primary: #5d8eb9;
    --color-secondary: #4a5568;
    --color-accent: #f6e05e;
    --color-background: #f7fafc;
    --color-surface: #ffffff;
    --color-error: #e53e3e;
    --color-on-primary: #ffffff;
    --color-on-secondary: #ffffff;
    --color-on-accent: #000000;
    --color-on-background: #000000;
    --color-on-surface: #000000;
    --color-on-error: #ffffff;
}
@layer base {
  h2 {
    @apply text-cyan-700 font-bold text-center text-2xl mb-2;
  }
  h3 {
    @apply text-gray-700 italic text-center text-lg mb-4;
  }
  p {
    @apply text-gray-500;
  }
  .btn {
    @apply text-amber-700 dark:text-indigo-400;
  }
}