@import "tailwindcss";

@source "../../../**/*.{html,py,js}";

@theme {
    --color-primary: #033C6D;
    --color-secondary: #045397;
    --color-accent: #056bc2;
    --color-contrast: #3c6d03;
    --color-gold: #F2B036;
    --color-background: #033C6D;
    --color-error: #e53e3e;
    --color-button: #e87e27;
    --color-tech: #2563EB;
    --color-gps: #2DD4BF;
    --color-data: #7127e8;
    --color-remote: #374151;
    --color-wireless: #FBBF24;
    --color-accessories:#38BDF8;
    --color-on-primary: #ffffff;
    --color-on-secondary: #ffffff;
    --color-on-gold: #000000;
    --color-on-background: #ffffff;
    --color-on-error: #ffffff;
    --color-on-button: #000000;
    --color-softwhite: #f5f5f5;
    --color-softblue: #d4dfed;
}
@layer base {
  h1 {
    @apply text-primary font-extrabold text-center text-4xl md:text-5xl mb-4;
  }
  h2 {
    @apply text-cyan-700 font-bold text-center text-2xl mb-2;
  }
  h3 {
    @apply text-accent italic text-center text-lg mb-4;
  }
  p {
    @apply text-gray-500;
  }
  .btn {
    @apply text-amber-700 dark:text-indigo-400;
  }
}
