@import "tailwindcss";

@source "../../../**/*.{html,py,js}";

@theme {
    --color-primary: #011936;
    --color-secondary: #82A3A1;
    --color-accent: #465362;
    --color-contrast: #3c6d03;
    --color-gold: #F2B036;
    --color-background: #011936;
    --color-error: #e53e3e;
    --color-button: #9FC490;
    --color-tech: #2563EB;
    --color-raveon: #5d8eb9;
    --color-gps: #183A37;
    --color-data: #EFD6AC; 
    --color-remote: #C44900;
    --color-wireless: #432534;
    --color-accessories:#C0DFA1;
    --color-on-primary: #7C9EB2;
    --color-on-secondary: #ffffff;
    --color-on-gold: #000000;
    --color-on-background: #ffffff;
    --color-on-error: #ffffff;
    --color-on-button: #000000;
    --color-softwhite: #f5f5f5;
    --color-softblue: #d4dfed;
}
@layer base {
  h1 {
    @apply text-primary font-extrabold text-center text-4xl md:text-5xl mb-4;
  }
  h2 {
    @apply text-cyan-700 font-bold text-center text-2xl mb-2;
  }
  h3 {
    @apply text-accent italic text-center text-lg mb-4;
  }
  p {
    @apply text-gray-500;
  }
  .btn {
    @apply text-amber-700 dark:text-indigo-400;
  }
}
/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }