{% load static tailwind_tags %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Raveon Technologies</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">

    {% block meta %}
        <title>
          {% if meta_title %}{{ meta_title }}{% else %}{% block title %}{{ block.super|default:"" }}{% endblock %}{% endif %}
        </title>
        {% if meta_description %}
          <meta name="description" content="{{ meta_description }}">
        {% endif %}
        {% if meta_keywords %}
          <meta name="keywords" content="{{ meta_keywords }}">
        {% endif %}
        {% if meta_canonical %}
          <link rel="canonical" href="{{ meta_canonical }}">
        {% endif %}
         <!-- Open Graph -->
  <meta property="og:type" content="website">
  {% if meta_title %}<meta property="og:title" content="{{ meta_title }}">{% endif %}
  {% if meta_description %}<meta property="og:description" content="{{ meta_description }}">{% endif %}
  {% if meta_og_image %}
    <meta property="og:image" content="{{ meta_og_image.url }}">
  {% endif %}

  {% endblock %}

    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black font-sans leading-normal tracking-normal">
    <div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1 dark:bg-gray-800/50 dark:after:pointer-events-none dark:after:absolute dark:after:inset-x-0 dark:after:bottom-0 dark:after:h-px dark:after:bg-white/10">
  <!-- Light mode logo -->
          <img src="{% static 'img/Raveon-Data-Radio-Modems-logo.png' %}"
               alt="Raveon Technologies"
               class="h-10 w-auto dark:hidden" />
          <!-- Dark mode logo -->
          <img src="{% static 'img/Raveon-Data-Radio-Modems-logo.png' %}"
               alt="Raveon Technologies"
               class="hidden h-10 w-auto dark:block" />
  
      <div aria-hidden="true" class="absolute top-1/2 left-[max(-7rem,calc(50%-52rem))] -z-10 -translate-y-1/2 transform-gpu blur-2xl">
    <div style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)" class="aspect-577/310 w-144.25 bg-linear-to-r from-primary to-blue-950 opacity-30 dark:opacity-40"></div>
  </div>
  <div aria-hidden="true" class="absolute top-1/2 left-[max(45rem,calc(50%+8rem))] -z-10 -translate-y-1/2 transform-gpu blur-2xl">
    <div style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)" class="aspect-577/310 w-144.25 bg-linear-to-r from-primary to-blue-950 opacity-30 dark:opacity-40"></div>
  </div>
  <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
    <p class="text-sm/6 text-gray-900 dark:text-gray-100">
      <strong class="font-semibold">Custom Industry Solutions</strong><svg viewBox="0 0 2 2" aria-hidden="true" class="mx-2 inline size-0.5 fill-current"><circle r="1" cx="1" cy="1" /></svg>Let our team help you build the perfect solution for your needs.
    </p>
    <a href="#" class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-xs hover:bg-gray-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900 dark:bg-white/10 dark:inset-ring-white/20 dark:hover:bg-white/15 dark:focus-visible:outline-white">Find Out More<span aria-hidden="true">&rarr;</span></a>
  </div>
  <div class="flex flex-1 justify-end">
    <button type="button" class="-m-3 p-3 focus-visible:-outline-offset-4">
      <span class="sr-only">Dismiss</span>
      <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 text-gray-900 dark:text-gray-100">
        <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
      </svg>
    </button>
  </div>
</div>
    {% include 'components/navbar.html' %}

    {% block content %}

    {% endblock %}

    <footer>

        {% include 'components/footer.html' %}

    </footer>
</body>
</html>
